<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Reset</title>
</head>
<body>
    <form method="POST" action="{% url 'passwordreset' %}">
        {% csrf_token %}
        <p>Username: <input type="text" name="uname" required></p>
        <p>New Password: <input type="password" name="password" required></p>
        <input type="submit" value="Reset">
        <!-- Display error message if it exists -->
        {% if errormsg %}
            <div class="error">{{ errormsg }}</div>
        {% endif %}
        <p>
            <a href="{% url 'login' %}"><i>Login</i></a>
        </p>
    </form>
</body>
</html>
